/*
 * Globals
 */



/* buttons */

.btn:hover {
	background: #09a3e2;
	color: #fff;
	border-color: #09a3e2;
}

/* forms */

form {
	/* display: none; XXX */
}

#advanced-query {
	display: none;
}

#post-search {
	display: none;
}

input {
	color: #09a3e2;
	border: 3px solid #ccc;
	text-align: center;
}

select, input[type="submit"], input[type="text"]{
	font-size: 1.5em;
}

input[type="submit"]{
	color: #09a3e2;
	position: relative;
	top: -7px;
}

input[type="text"]{
	padding: 5px;
}

label {
	padding: 0 10px;
	font-size: 2em;
}

.repeat-search {
	float: right;
}

.result {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	padding: 20px;
}

.result.house, .result.boat {
	
}

.result.house {
	background: #e82900 url(../images/house.png) center center no-repeat;
}

.result.boat {
	background: #09a3e2 url(../images/boat.png) center center no-repeat;
}

.result.denial {
	font-size: 1.6em;
	background: #00aaa9 url(../images/denial.png) center bottom no-repeat;
}

/*
 * iPhone form
 */

@media (max-width: 768px) {
	input, label {
		display: block;
		margin: 0 auto;
	}
	
	label {
		margin: 30px auto;
	}
}


/*
 * Base structure
 */

.site-wrapper {
	height: 706px;
	overflow: auto;
	display: block;
}

.site-wrapper-inner {
	display: block;
}

.cover-container {
	overflow: hidden;
}

.masthead {
	position: fixed;
}

section {
	padding-top: 150px;
}


/*
 * Content styling
 */

a {
	text-decoration: underline;
}

a:hover {
	color: #09a3e2;
}

.masthead a, a.btn {
	text-decoration: none;
}

ul, ol, li {
	
}

img {
	width: 100%;
}

h1 em {
	color: #09a3e2;
}

h1 em.red {
	color: #e82900;
}

.lead {
	margin: 40px 0;
}

section.text {
	text-align: left;
}

table {
	font-size: 0.8em;
}

.reference {
	font-size: 0.8em;
}

.advanced-query-show {
	text-decoration: none;
	color: #666;
}